.idea
venv
.env
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
media_files_for_tests
Test_list
flet_tests
golf_info
old_files
unity_course_data
gui/trash.py
gui/start_unity.py
app.log
gui/app.log
web_server/app.log
plan.txt